{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}

{{#type_collapsiblelonglong}}
    {{#longtitle}}
        <details>
            <summary class="btn btn-link btn-block" style="text-align: left;">
                <i class="fa-regular fa-circle-question"></i>
                {{{longtitle}}}
            </summary>
            <div class="filter_faq element">
                {{{longdescription}}}
            </div>
        </details>
    {{/longtitle}}
{{/type_collapsiblelonglong}}

{{#type_collapsiblelongshort}}
    {{#longtitle}}
        <details>
            <summary class="btn btn-link btn-block" style="text-align: left;">
                <i class="fa-regular fa-circle-question"></i>
                {{{longtitle}}}
            </summary>
            {{^morehelpshown}}
                <div class="flex-container">
                    <div class="filter_faq element">
                        {{{shortdescription}}}
                    </div>
                    <a href="{{{urlprimary}}}" class="btn btn-link morehelp-btn" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                        {{#str}} more_help, filter_faq {{/str}}
                    </a>
                </div>
            {{/morehelpshown}}
            {{#morehelpshown}}
                <div class="filter_faq element">
                    {{{shortdescription}}}
                </div>
            {{/morehelpshown}}
        </details>
    {{/longtitle}}
{{/type_collapsiblelongshort}}

{{#type_collapsibleshortlong}}
    {{#shorttitle}}
        <details>
            <summary class="btn btn-link btn-block" style="text-align: left;">
                <i class="fa-regular fa-circle-question"></i>
                {{{shorttitle}}}
            </summary>
            <div class="filter_faq element">
                {{{longdescription}}}
            </div>
        </details>
    {{/shorttitle}}
{{/type_collapsibleshortlong}}

{{#type_collapsibleshortshort}}
    {{#shorttitle}}
        <details>
            <summary class="btn btn-link btn-block" style="text-align: left;">
                <i class="fa-regular fa-circle-question"></i>
                {{{shorttitle}}}
            </summary>
            {{^morehelpshown}}
                <div class="flex-container">
                    <div class="filter_faq element">
                        {{{shortdescription}}}
                    </div>
                    <a href="{{{urlprimary}}}" class="btn btn-link morehelp-btn" target="_blank">
                        <i class="fa-solid fa-up-right-from-square"></i>
                        {{#str}} more_help, filter_faq {{/str}}
                    </a>
                </div>
            {{/morehelpshown}}
            {{#morehelpshown}}
                <div class="filter_faq element">
                    {{{shortdescription}}}
                </div>
            {{/morehelpshown}}
        </details>
    {{/shorttitle}}
{{/type_collapsibleshortshort}}

{{#type_linkshort}}
    {{#shorttitle}}
        <a href="{{{urlprimary}}}" target="_blank" class="btn-link" style="margin: 0 4px;">
            <i class="fa-regular fa-circle-question"></i>
            {{{shorttitle}}}
        </a>
    {{/shorttitle}}
{{/type_linkshort}}

{{#type_linklong}}
    {{#longtitle}}
        <a href="{{{urlprimary}}}" target="_blank" class="btn-link" style="margin: 0 4px;">
            <i class="fa-regular fa-circle-question"></i>
            {{{longtitle}}}
        </a>
    {{/longtitle}}
{{/type_linklong}}

{{#type_linkurl}}
    {{{urlprimary}}}
{{/type_linkurl}}

{{#type_modallonglong}}
    <a href="{{{urlprimary}}}" target="_blank" class="btn btn-link"
       onclick="require(['filter_faq/faq'], function(f) { f.modal('{{p}}', {{langarray}}, 'long', 'long'); } ); return false;">
        <i class="fa-regular fa-circle-question"></i>
        {{{longtitle}}}
    </a>
{{/type_modallonglong}}

{{#type_modallongshort}}
    <a href="{{{urlprimary}}}" target="_blank" class="btn btn-link"
       onclick="require(['filter_faq/faq'], function(f) { f.modal('{{p}}', {{langarray}}, 'long', 'short'); } ); return false;">
        <i class="fa-regular fa-circle-question"></i>
        {{{longtitle}}}
    </a>
{{/type_modallongshort}}

{{#type_modalshortlong}}
    <a href="{{{urlprimary}}}" target="_blank" class="btn btn-link"
       onclick="require(['filter_faq/faq'], function(f) { f.modal('{{p}}', {{langarray}}, 'short', 'long'); } ); return false;">
        <i class="fa-regular fa-circle-question"></i>
        {{{shorttitle}}}
    </a>
{{/type_modalshortlong}}

{{#type_modalshortshort}}
    <a href="{{{urlprimary}}}" target="_blank" class="btn btn-link"
       onclick="require(['filter_faq/faq'], function(f) { f.modal('{{p}}', {{langarray}}, 'short', 'short'); } ); return false;">
        <i class="fa-regular fa-circle-question"></i>
        {{{shorttitle}}}
    </a>
{{/type_modalshortshort}}

{{#type_textlong}}
    <div class="filter_faq element">
        {{{longdescription}}}
    </div>
{{/type_textlong}}

{{#type_textshort}}
    <div class="filter_faq element">
        {{{shortdescription}}}
    </div>
    {{^morehelpshown}}
        <a href="{{{urlprimary}}}" class="btn btn-link morehelp-btn" target="_blank">
            <i class="fa-solid fa-up-right-from-square"></i>
            {{#str}} more_help, filter_faq {{/str}}
        </a>
    {{/morehelpshown}}
{{/type_textshort}}

{{#type_textshortonly}}
    <div class="filter_faq element">
        {{{shortdescription}}}
    </div>
{{/type_textshortonly}}

{{#type_titlelong}}
    {{{longtitle}}}
{{/type_titlelong}}

{{#type_titleshort}}
    {{{shorttitle}}}
{{/type_titleshort}}
